[run]
branch = True
source = .
omit =
    libs/*
    */tests/*
    */migrations/*
    manage.py
    cash_collection/*
    venv/*

[report]
show_missing = True
skip_covered = False

[html]
title = Cash Collection - Code Coverage
directory = reports/tests/htmlcov
